/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
    TYPO
---------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.net {
    color: red;
    font-weight: bold;
}

.gross {
    text-decoration: line-through;
}
/*---------------
    COMMON
---------------*/
.container {
    margin: auto;
    max-width: 1380px;
}

.row {
    display: flex;
}

small {
    font-size: 12px;
}

header a, footer a {
    color: #fff;
}

.col {
    position: relative;
}

/*---------------
    HEADER
---------------*/
header {
    height: 60px;
    max-width: 1380px;
}

.header-top {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 60px;
    background-color: #FF6900;
    color: #fff;
    z-index: 100;
}
.header-top .row {
    align-items: center;
}
.logo, .main-nav {
    width: 10%;
}
.logo {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.main-nav ul {
    list-style: none;
    display: flex;
}
.main-nav ul li {
    margin: 0 5px;
}
.main-nav ul li a {
    text-decoration: none;
    color: inherit;
}
 .login {
    text-align: right;
 }

/*---------------
    MAIN
---------------*/
.col {
    width: calc(33% - 38px);
    flex-wrap: wrap;
    margin: 50px 20px 0 0;
}

.col img {
    width: 100%;   
}


.sustainability {
    position: absolute;
    color: #fff;
    background-color: green;
    width: 22%;
    bottom: 100px;
    left: 45px;
}

.sale {
    position: absolute;
    color: #fff;
    background-color: red;
    width: 10%;
    bottom: 100px;
    left: 0;
}

.sustainability2 {
    position: absolute;
    color: #fff;
    background-color: green;
    width: 22%;
    bottom: 100px;
    left: 0px;
}

.desire {
    position: absolute;
    right: 0;
    top: 10px;
    height: 40px;
    width: 50px;
    font-size: 30px;
    background-color: #fff;
    color: black;
    text-align: center;
}

/*---------------
    HOVER
---------------*/

.desire:hover {
    color: red;
}

.img-hover {
    display: none;
}

.imgbox:hover .img-hover {
    display: block;
    width: 100%;
}

.imgbox:hover .img-default {
    display: none;
}

/*---------------
    FOOTER
---------------*/
footer {
    background-color: #1a1a1a;
    margin-top: 60px;
    max-height: 150px;   
}

.footer-top .row, .footer-bottom .row {
    justify-content: space-between;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.footer-nav {
    list-style: none;
    display: flex;
}

.footer-nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    
}

.footer-nav .row {
    margin-top: 10px;
}

#trovaci {
    margin-right: 88px;
}

.social {
    margin-right: 88px;
}