/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------
    TYPO
---------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.netto {
    color: red;
    font-weight: bold;
}

.lordo {
    text-decoration: line-through;
}
/*---------------
    COMMON
---------------*/
.container {
    margin: auto;
    max-width: 1380px;
}

.row {
    display: flex;
}

small {
    font-size: 12px;
}
/*---------------
    HEADER
---------------*/
header {
    height: 60px;
}

.header-top {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 60px;
    background-color: #FF6900;
    color: #fff;
}
.header-top .row {
    align-items: center;
}
.logo, .lmain-nav {
    width: 10%;
    padding: 0 5px;
}
.logo {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.main-nav ul {
    list-style: none;
    display: flex;
}
.main-nav ul li {
    margin: 0 5px;
}
.main-nav ul li a {
    text-decoration: none;
    color: inherit;
}
 .login {
    text-align: right;
 }

/*---------------
    MAIN
---------------*/
.col {
    width: calc(33% - 38px);
    flex-wrap: wrap;
    margin: 50px 20px 0 0;
}

.col img {
    width: 100%;
}



/*---------------
    FOOTER
---------------*/
footer {
    background-color: #1a1a1a;
    margin-top: 60px;
    max-height: 150px;    
}

.footer-top .row, .footer-bottom .row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.footer-nav ul {
    list-style: none;
    display: flex;
}

.footer-nav ul li a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.footer-nav .row {
    margin-top: 10px;
}